{% extends 'base.html.twig' %}

{% block title %}SimRecipe - Acceuil
{% endblock %}
{% block body %}

	<div class="container">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Bienvenue sur Symrecipe</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores est harum nam. Voluptates cumque voluptatum sunt blanditiis, quisquam quae praesentium, illum ipsam eos corrupti dolore perspiciatis neque enim? Illo, sed!</p>
                <p>Pour commencer, rendez vous sur la page connexion.</p>
                <a class='btn btn-success' href="#">Inscription</a>
        </div>
    </div>

{% endblock %}
